.cardContainer {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(16,50,43,1) 100%);
    width: 280px;
    border-radius: 20px;
    height: 400px;
    margin: 30px 0px 30px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.25s ease-out;
}

.cardContainer:hover {
    transform: scale(1.05);
}

.cardImage {
    width: 280px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardNameContainer {
    background: rgb(255,192,0);
    background: radial-gradient(circle, rgba(255,192,0,1) 0%, rgba(46,37,1,1) 100%);
    width: 100%;
    margin-top: -8px;
}

.cardName {
    color:black;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 100%;
}

.cardWeight {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    width: 180px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    background: rgb(13,153,186);
    background: linear-gradient(90deg, rgba(13,153,186,1) 0%, rgba(81,189,175,1) 100%);
}

.cardTemps {
    color: whitesmoke;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}